<div class="content">
  <div class="layout">
    <div class="content--main">
      <div class="content__box">
        <h2 class="content__box__title">
          <span class="content__box__title--margin">Can user experience be beautiful?</span> <br/>
          <span class="content__box__title--margin">An analysis of navigation in</span> <br/>
          <span class="content__box__title--margin">portfolio websites</span>
        </h2>
        <p class="content__box__text">
          This is a different take on Responsive Web design.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Ut enim ad minim veniam, quis nostrud <a href="#" class="content__box__text--active">exercitation</a> ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <p class="content__box__text--extended">
          Let's start our journey by looking at the online tools such.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          <a class="content__box__text__more" href="#">more &#8811;</a>
        </p>
      </div>
      <div class="content__video">
        <iframe src="https://www.youtube.com/embed/CJ-0PINM5Xk" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>