<footer class="footer">
  <div class="layout clear-fix">
    <p class="footer__copy">&copy; copyright</p>
    <ul class="footer__icons--social">
      <li class="footer__icons__item">
        <a href="#"><img src="../../assets/RSS.png" alt="social icon"/></a>
      </li>
      <li class="footer__icons__item">
        <a href="#"><img src="../../assets/Facebook.png" alt="social icon"/></a>
      </li>
      <li class="footer__icons__item">
        <a href="#"><img src="../../assets/Twitter.png" alt="social icon"/></a>
      </li>
    </ul>
  </div>
</footer>
