<div class="services--block">
  <div class="layout">
    <ul class="services">
      <li class="services__item">
        <div class="services__item__icon"><img src="../../../assets/pie.png" alt="icon-pie"/></div>
        <h5 class="services__item__title">Marketing <span class="services__item__title--color">plans</span></h5>
        <p class="services__item__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Sed do eiusmod tempor.
        </p>
        <a class="services__item__more" href="#">more &#8811;</a>
      </li>
      <li class="services__item">
        <div class="services__item__icon"><img src="../../../assets/lab.png" alt="icon-lab"/></div>
        <h5 class="services__item__title">Creation <span class="services__item__title--color">lab</span></h5>
        <p class="services__item__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Sed do eiusmod tempor.
        </p>
        <a class="services__item__more" href="#">more &#8811;</a>
      </li>
      <li class="services__item">
        <div class="services__item__icon"><img src="../../../assets/code.png" alt="icon-code"/></div>
        <h5 class="services__item__title">Responsive <span class="services__item__title--color">web</span></h5>
        <p class="services__item__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Sed do eiusmod tempor.
        </p>
        <a class="services__item__more" href="#">more &#8811;</a>
      </li>
    </ul>
  </div>
</div>