<nav>
  <ul class="nav">
    <li class="nav__item nav__item--selected">
      <a href="#" class="nav__item__link">Home</a> <span class="nav__item__separate">/</span>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__item__link">About</a> <span class="nav__item__separate">/</span>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__item__link">References</a>  <span class="nav__item__separate">/</span>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__item__link">Blog</a> <span class="nav__item__separate">/</span>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__item__link">Contact</a>
    </li>
  </ul>
</nav>